*{
    padding: 0;
    margin: 0;
}
nav{
    width:100%;
    background-color:#2f2f2f;
}
li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
a{
    color:white;
}
#imgcontainer{
    margin-top:30px;
    text-align: center;
}
#postscontainer{
    width:100%;
    text-align:center;
}
h1{
    border:2px solid black;
    text-align: center;
    font:bold 15px tahoma;
    padding: 10px;
    background-color: lightyellow;
}
img{
    width:300px;
    height: 300px;
}